
/* Used this css to change the default action of dropdown menu from click to hover */
/* body { */
    /* padding-top: 100px; */
/* } */
.navBg {
  background-color: white;
  opacity: 0.8;
}

.dropdown:hover .dropdown-menu {
    display: block;
    /* background-color: #F8F9FA; */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/* Removed the dropdown button with this css */
.dropdown-toggle::after {
    content: none;
}
.navbar {
    height: 40px;
    padding-top: 25px;
}
.navbar-transparent {
  opacity: 0.9;
}

.dropdown {
  position: static !important;
}

.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
  margin-top: 0px !important;
  width: 100% !important;
}

.mainNav li {
   font-size: small;
}
.messageTab {
    background-color:#1d1d1f;
    font-size: large;
    color: #f5f5f7;
    height:90px;
    padding-top: 32px;
    display: grid;
    align-items: center;
}
.messageTab a {
    text-decoration: none;
}

/* *************************************************** */

@media screen and (max-width: 992px) {
  .navbar-collapse {
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .dropdown:hover .dropdown-menu {
    /* display: block; */
    background-color: #F8F9FA;
    text-align: center;
    transition: all 0.3s;
}
  .navbar {
    height: 55px;
    padding-top: 0px;
  }
  .messageTab {
    height: 90px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 615px) {
  .messageTab {
    font-size: small;
  }
}

/* ***************************************************** */
/* Footer Styling */

.footer-wrapper {
    background-color: #F5F5F7;
    color: #747475;
    font-size: 0.7em;
  }
.footer-wrapper ul {
    list-style: none;
    padding-bottom: 10px;
    padding-inline-start: 0px;
  }
.footer-wrapper ul a {
    color: #515154;
    text-decoration: none;
  }
.my-apple-wrapper {
    padding-bottom: 15px;
    margin-top: 10px;
  }
.copyright {
    margin-top: 15px;
  }
.footer-country {
    margin-top: 8px;
  }
.flag-wrapper {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }
.footer-country-name {
    display: inline-block;
    vertical-align: middle;
  }
.footer-links-terms ul {
    display: flex;
  }
.footer-links-terms ul li {
    padding: 0 10px;
    border-right: 1px solid #d2d2d7;
  }
.footer-links-terms ul li:first-child {
    padding-left: 0;
  }
.footer-links-terms ul li:last-child {
    border-right: 0;
  }
  
.footer-links-wrapper h3 {
    font-size: 12px;
    font-weight: 600;
    color: #1d1d1f;
  }
.footer-wrapper ul li {
    padding: 4px 0;
  }
.upper-text-container {
    border-bottom: 1px solid #d2d2d7;
    padding: 17px 0 10px;
    margin-bottom: 20px;
  }
.upper-text-container a {
    color: #515154;
  }